body{
    background-image: url('../images/excersise.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
        background-size: cover;
}

.container{
    background-color: cornflowerblue;
    opacity: 0.9;
    color: white;
    padding: 5%;
    border-radius: 10px;
}

.container1{
    background-color: cornflowerblue;
    opacity: 0.9;
    color: white;
    padding: 5%;
    border-radius: 10px;
    margin: 5%;
    /* margin-right: 5%; */
}