.topnav {
    margin: 1%;
    background-color: #333;
    overflow: hidden;
    opacity: 0.95;
    border-radius: 5px;
}

.container{
    background-color: #4CAF50;
    opacity: 0.9;
    color: white;
    padding: 2%;
    margin-top: 2%;
    border-radius: 10px;
}

body{
    background-image: url('../images/food.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title{
    text-decoration: underline;
    background-color: black;
}

table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
    padding: 5px;
}