.container{
    margin-top: 2%;
    background-color: aqua;
    opacity: 0.8;
    padding: 5%;
    text-align: center;
    border-radius: 20px;
}

.container-fluid{
    margin-top: 2%;
    background-color: beige;
    padding: 4%;
    text-align: center;
}