.container{
    margin-top: 8%;
    background-color: aqua;
    opacity: 0.8;
    padding: 15%;
    text-align: center;
    border-radius: 20px;
    font-family: 'Spicy Rice', cursive;
}

/* .container{
    margin-top: 2%;
    background-color: aqua;
    opacity: 0.8;
    padding: 5%;
    text-align: center;
    border-radius: 20px;
    font-family: 'Spicy Rice', cursive;
} */


.container1{
    margin-top: 2%;
    background-color: beige;
    padding: 4%;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;
}
.container2{
    margin-top: 2%;
    background-color: whitesmoke;
    padding: 4%;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;
    text-align: right;
}
body{
    background-image: url('../images/bicycle.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 2%;
}